/*
# Styleguide with LESS
*/
/*
 ## Common Styles

 ```
  <button>Simple Standard Button</button>
  <button class="primary">Simple Standard Button</button>
  <button class="special">Simple Standard Button</button>
 ```
*/
button {
  border: 1px solid black;
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
}
button.primary {
  background: #10aded;
  color: white;
}
button.special {
  background: #f00;
  color: white;
}
.left {
  float: left;
}
header .claim {
  font-size: 1.3em;
  padding-left: 15px;
  padding-top: 33px;
}
/*
# Figurs
## Header
** This is just defining figures without any css **

```
<header class="fixie-demo">
    <div class="logo left"><img width="100" height="100"/></div>
    <div class="claim fixie-demo left"></div>
</header>
```
*/
